@()

@main {

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading">About</h2>

                    <p>Hi there,</p>

                    <p>I created this blog to write about my experiences with learning scala.</p>

                    <p>As I come from php/symfony2 background it will be interesting to jump to seemingly different world of an expressive functional language &amp; concurrency.</p>

                    <p>I will try to describe similarities and differences between php and scala as I go along.</p>

                </div>
            </div>
        </div>
    </article>

}