@()

@main {

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading">O</h2>
                    <p>To miejsce w czaso-przestrzeni istnieje po to, aby opisać zmagania z programowaniem
                        w językach różnorakich (obecnie zainteresowania są w orbicie scala / java / amos / 68k assembler).</p>

                    <p>Jeśli chcesz się skontaktować, pisz: rizn.a1200 [at] gmail [dot] com</p>

                </div>
            </div>
        </div>
    </article>

}