@(session: play.api.mvc.Session)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        
        <header class="topbar">

            @if(session.get("username").isDefined) {
                <div style="float: right; margin: 10px;">
                    <a style="color: #fff;" href="@routes.Auth.logout">Logout</a>
                </div>
            }

            <h1 class="fill">
                   Blog &mdash; Content Management
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
